.form_container{
  padding: 20px 50px 20px 50px;
  margin: 30px 0px 30px 0px;
  border: 1px solid #C2C6CC;
  border-radius: 8px;
}

.select{
  border-radius: 8px;
  width:80%
}

.question_container {
  padding-bottom: 20px;
}

.submit_button{
  background: linear-gradient(90deg, #B224EF 0%, #7579FF 100%);
  border-radius: 28px;
  width: 151px;
  height: 56px;
  color: #FFFFFF;
}

.reject_button {
  background: linear-gradient(90deg, #ef2457 0%, #e7b529 100%);
  border-radius: 28px;
  width: 151px;
  height: 56px;
  color: #FFFFFF;
}