.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    color: #B224EF;
    font-size: 26px;
    font-weight: 700;
    padding: 0px 0px 20px;
}

.container_carrusel {
    justify-content: center;
    align-items: center;
    padding: 50px 40px 0px;
}

.button_container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0px 0px;

}

.button_view_more {
    background: linear-gradient(90deg, #B224EF 0%, #7579FF 100%);
    border-radius: 28px;
    width: 160px;
    height: 40px;
    color: #FFFFFF;
}
