.container {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
}

.title {
    color: #B224EF !important;
    font-size: 26px !important;
    font-weight: 700 !important;
    padding: 0px 0px 20px !important;
}

.container_carrusel {
    justify-content: center !important;
    align-items: center !important;
    padding: 50px 40px 0px !important;
}

.button_container {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    margin: 50px 0px 0px !important;

}

.button_view_more {
    background: linear-gradient(90deg, #B224EF 0%, #7579FF 100%) !important;
    border-radius: 28px !important;
    width: 160px !important;
    height: 40px !important;
    color: #FFFFFF !important;
}
