.form_container {
  padding: 20px 70px 20px 70px !important;
  margin: 30px 20px 30px 20px !important;
  border: 1px solid #C2C6CC !important;
  border-radius: 8px !important;
}

.select {
  border-radius: 8px !important;
  width: 100% !important;
}

.question_container {
  padding-bottom: 20px !important;
}

.submit_button {
  background: linear-gradient(90deg, #B224EF 0%, #7579FF 100%) !important;
  border-radius: 28px !important;
  width: 120px !important;
  height: 50px !important;
  color: #FFFFFF !important;
}

.reject_button {
  background: linear-gradient(90deg, #ef2457 0%, #e7b529 100%) !important;
  border-radius: 28px !important;
  width: 120px !important;
  height: 50px !important;
  color: #FFFFFF !important;
}

.text_question {
  margin-top: 10px !important;
  margin-bottom: 20px !important;
}

.text_remark {
  font-size: 20px !important;
  margin-left: 20px !important;
  margin-top: 30px !important;
}

.icon_pet {
  color: #B224EF !important;
}

.icon_form_completed {
  color: #B224EF !important;
  margin-top: 30px !important;
  height: 30px !important;
  width: 30px !important;
  margin-left: 30px !important;
}

.dialog_container {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  justify-content: center !important;
  text-align: center !important;
}

.dialog_text {
  margin-top: 10px !important;
  font-size: 20px !important;
  font-weight: 500 !important;
  color: #666666 !important;
  padding-top: 20px !important;
}