.form_container {
  padding: 20px 70px 20px 70px;
  margin: 30px 20px 30px 20px;
  border: 1px solid #C2C6CC;
  border-radius: 8px;
}

.select {
  border-radius: 8px;
  width: 100%
}

.question_container {
  padding-bottom: 20px;
}

.submit_button {
  background: linear-gradient(90deg, #B224EF 0%, #7579FF 100%);
  border-radius: 28px;
  width: 151px;
  height: 56px;
  color: #FFFFFF;
}

.reject_button {
  background: linear-gradient(90deg, #ef2457 0%, #e7b529 100%);
  border-radius: 28px;
  width: 151px;
  height: 56px;
  color: #FFFFFF;
}

.text_question {
  margin-top: 10px;
  margin-bottom: 20px;
}

.text_remark {
  font-size: 20px;
  margin-left: 20px;
  margin-top: 30px;
}
.icon_pet{
  color: #B224EF;
}

.icon_form_completed {
  color: #B224EF;
  margin-top: 30px;
  height: 30px;
  width: 30px;
  margin-left: 30px;


}