.submit_button {
    background: linear-gradient(90deg, #B224EF 0%, #7579FF 100%) !important;
    border-radius: 30px !important;
    width: 100px !important;
    height: 30px !important;
    color: #FFFFFF !important;
    padding: 10px !important;
    margin-right: 10px !important;
}

.cancel_button {
    border: 1px solid #B224EF !important;
    border-radius: 30px !important;
    padding: 10px !important;
    width: 100px !important;
    height: 30px !important;
    padding: 10px !important;
}

.button_container {
    display: flex !important;
    align-items: flex-end !important;
    justify-content: flex-end !important;
    padding-top: 10px !important;

}

.messages_container {
    border: 1px solid #9A9A9A !important;
    margin-right: 20px !important;
    margin-top: 20px !important;
    padding: 20px !important;
}

.commenter_name {
    margin-left: 5px !important;
    font-size: 18px !important;
    font-weight: 600 !important;
}

.message {
    margin-left: 5px !important;
    font-size: 16px !important;
    font-weight: 400 !important;
}

.container {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.comment_container {
    padding: 10px !important;
    margin: 10px !important;
}

.comment_date {
    margin-left: 5px !important;
    font-size: 12px !important;
    font-weight: 400 !important;
    color: #9A9A9A !important;
}

.message_input {
    margin-right: 20px !important;
}

.message_alert {
    margin: 10px !important;
}

.delete_icon {
    color: #B224EF !important;
}
.avatar_user{
    height: 50px;
    width: 50px;
}