.text{
    font-size: 20px !important;
    font-weight: 700 !important;
    line-height: 48px !important;
    color: #B224EF !important;
}
.label{
    color: #000000!important;
}

.submit_button {
    background: linear-gradient(90deg, #B224EF 0%, #7579FF 100%) !important;
    border-radius: 30px !important;
    width: 100px !important;
    height: 30px !important;
    color: #FFFFFF !important;
    padding: 10px !important;
}

.cancel_button {
    border: 1px solid #B224EF !important;
    border-radius: 30px !important;
    padding: 10px !important;
    width: 100px !important;
    height: 30px !important;
    padding: 10px !important;
    margin-right: 60px !important;
}