.button_save {
    background: linear-gradient(90deg, #B224EF 0%, #7579FF 100%);
    border-radius: 28px;
    width: 230px;
    height: 40px;
    color: #FFFFFF;
    margin-top: 20px;
}
.button_exit {
    border-radius: 28px;
    width: 230px;
    height: 40px;
    margin-top: 20px;
}