.button_save {
    background: linear-gradient(90deg, #B224EF 0%, #7579FF 100%) !important;
    border-radius: 28px !important;
    width: 230px !important;
    height: 40px !important;
    color: #FFFFFF !important;
    margin-top: 20px !important;
}
.button_exit {
    border-radius: 28px !important;
    width: 230px !important;
    height: 40px !important;
    margin-top: 20px !important;
}