.footer_container {
    margin-top: 70px;
    padding: 2.5rem;
    background-color: #7E41A1;
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;

}

.text_content {
    text-align: center;
    color: aliceblue;
}

.text_title {
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    color: #101011;
}
.text_span {
    color: #BD95D5;
}