.footer_container {
    margin-top: 70px !important;
    padding: 2.5rem !important;
    background-color: #7E41A1 !important;
    display: flex !important;
    flex-direction: column !important;
    flex: 0 0 auto !important;
    position: absolute !important;
    clear: both !important;
    width: 100% !important;
}

.text_content {
    text-align: center !important;
    color: aliceblue !important;
}

.text_title {
    text-align: center !important;
    font-weight: bold !important;
    font-size: 26px !important;
    color: #101011 !important;
}

.text_span {
    color: #BD95D5 !important;
}