.item_container {
    padding-top: 25px !important;
}

.information_text {
    color: #7E41A1 !important;
}

.select {
    border-radius: 8px !important;
    width: 80% !important;
}

.button_container {
    background: linear-gradient(90deg, #B224EF 0%, #7579FF 100%) !important;
    border-radius: 28px !important;
    width: 35% !important;
}