.dialog_container {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
}

.dialog_text {
    font-size: 32px !important;
    font-weight: 700 !important;
    color: #666666 !important;
    padding-top: 20px !important;
}

.submit_button {
    background: linear-gradient(90deg, #B224EF 0%, #7579FF 100%) !important;
    border-radius: 28px !important;
    width: 151px !important;
    height: 56px !important;
    color: #FFFFFF !important;
}