.dialog_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dialog_text {
    font-size: 32px;
    font-weight: 700;
    color: #666666;
    padding-top: 20px;
}

.submit_button {
    background: linear-gradient(90deg, #B224EF 0%, #7579FF 100%);
    border-radius: 28px;
    width: 151px;
    height: 56px;
    color: #FFFFFF;
}