.item_container {
    padding-top: 25px;
}

.information_text {
    color: #7E41A1;
}

.select {
    border-radius: 8px;
    width: 80%
}

.button_container {
    background: linear-gradient(90deg, #B224EF 0%, #7579FF 100%);
    border-radius: 28px;
    width: 35%;
}