.button_register {
    background: linear-gradient(90deg, #B224EF 0%, #7579FF 100%);
    border-radius: 28px;
    width: 151px;
    height: 40px;
    color: #FFFFFF;
    margin-bottom: 40px;
    margin-left: 40px;
}

.text_content {
    margin-left: 40px;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 400;
    margin-right: 20px;
}

.text_title_span {
    color: #7E41A1;
}

.button_search {
    background: linear-gradient(90deg, #B224EF 0%, #7579FF 100%);
    border-radius: 28px;
    width: 180px;
    height: 45px;
    color: #FFFFFF;
    margin-top: 20px;
    margin-bottom: 40px;
    margin-left: 40px;
}

.text_content_search {
    font-size: 19px;
    font-weight: 400;
    margin-left: 40px;

}

.text_title_search {
    font-size: 30px;
    font-weight: 400;
    margin-left: 40px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.text_title_information {
    font-size: 36px;
    font-weight: 400;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
}
.text_information {
    font-size: 19px;
    font-weight: 400;
    margin-left: 40px;
    margin-bottom: 40px;

}
.text_title_pets {
    font-size: 36px;
    font-weight: 400;
    text-align: center;
}
.image_logo_container{
    margin-top: 6px;
    padding-left: 40px;
    padding-right:6px;
}

.image_pet_main_container{
    justify-content: center;
    padding-top: 30px;
    padding-right: 50px;
    padding-bottom: 30px;


}
