.button_start {
    background: linear-gradient(90deg, #B224EF 0%, #7579FF 100%) !important;
    border-radius: 28px !important;
    width: 100% !important;
    height: 40px !important;
    color: #FFFFFF !important;
    margin-top:25px !important;
    margin-bottom:20px !important;
}

.text_link {
    color: #7E41A1 !important;
}
.field{
    height:  40px !important;
}