.pet_image{
    width: 85px !important;
    height: 85px !important;
    border-radius:150px !important;
}
.container{
    width: 100% !important;
    padding: 20px !important;
}
.name{
    font-size: 18px !important;
    font-weight: 700 !important;
    color : #B224EF !important;
}
.icons{
    color : #B224EF !important;
}