.button_login {
    background: linear-gradient(90deg, #B224EF 0%, #7579FF 100%) !important;
    border-radius: 28px !important;
    width: 151px !important;
    height: 35px !important;
    color: #FFFFFF !important;
    margin-bottom: 15px !important;
}

.navbar {
    background: #7E41A1 !important;
    border-radius: 50px !important;
    padding-left: 10px !important;
}

.text_span {
    color: #ffffff !important;
    margin-left:5px ;
}