.container {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
    width: 100% !important;
    padding: 40px !important;
}

.banner_container {
    position: relative !important;
    display: inline-block !important;
    text-align: center !important;
    overflow: hidden !important;
}

.select {
    border-radius: 8px !important;
    width: 80% !important;
}

.card {
    background: #FFFFFF !important;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1) !important;
    border-radius: 8px !important;
    width: 80% !important;
}

.question_container {
    padding-bottom: 20px !important;

}

.button_container {
    display: flex !important;
    justify-content: right !important;
    align-items: center !important;
    padding-top: 20px !important;
}

.submit_button {
    background: linear-gradient(90deg, #B224EF 0%, #7579FF 100%) !important;
    border-radius: 28px !important;
    width: 151px !important;
    height: 56px !important;
    color: #FFFFFF !important;
}

.upload_image_button {
    height: 50px !important;
    width: 80% !important;
}

.form_container {
    padding-left: 80px !important;
    padding-right: 30px !important;
    padding-top: 40px !important;
    padding-bottom: 20px !important;
    margin-bottom: 30px !important;
    border: 1px solid #C2C6CC !important;
    border-radius: 10px !important;
    margin-left: 20px !important;
    margin-right: 20px !important;
}

.dialog_container {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
}

.description_text {
    width: 100% !important;
    margin-right: 35px !important;
    margin-left: 10px !important;
}

.dialog_text {
    font-size: 25px !important;
    font-weight: 500 !important;
    color: #666666 !important;
    padding-top: 20px !important;
}

.text_span {
    color: #a11adb !important;
    font-weight: bold !important;
    font-size: 30px !important;
}

.title_banner {
    position: absolute !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    font-weight: bold !important;
    font-size: 30px !important;
    color: white !important;
}
.icon_pet{
    color: #B224EF !important;
}
