.title_text {
    font-size: 27px !important;
    font-weight: 400 !important;
    text-align: center !important;
    margin-top: 30px !important;
}

.span_text {
    color: #B224EF !important;
}
.table_container{
    margin-bottom: 100px;
}