.pet_image{
    width: 245px !important;
    height: 250px !important;
    border-radius:150px !important;
}
.card_container{
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    margin-bottom: 20px !important;
    margin-left: 10px !important;
    margin-right: 10px !important;
    cursor: pointer !important;
}
.title{
    color: #B224EF !important;
    font-size: 26px !important;
    font-weight: 700 !important;
}
.label{
    color: #B224EF !important;
}
.text{
    font-size: 20px !important;
    font-weight: 500 !important;
}
.label_status{
    color: red !important;
    font-weight: 700 !important;
}