.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.title {
    margin-top: 20px;
    color: #B224EF;
    font-size: 30px;
    font-weight: 700;
}

.text {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 40px;
    margin-top: 20px;
    
}

.text_title_main {
    font-size: 50px;
    font-weight: 430;
    margin-bottom: 20px;
    margin-top: 30px;
}
.icon_pet{
    color: #B224EF;
    margin-right:10px;
    margin-top: 22px;
}