.pet_image{
    width: 200px;
    height: 200px;
    border-radius:150px;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title{
    color: #B224EF;
    font-size: 22px;
    font-weight: 500;
}
.cover{
    background: rgba(178, 36, 239, 0.1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.label{
    color: #B224EF;
}
.text{
    font-size: 20px;
    font-weight: 400;
    margin: 3px;
    margin-left: 25px;
}
.textHead{
    font-size: 35px;
    font-weight: 400;
    margin-left: 25px;
}
.button{
    background: linear-gradient(90deg, #B224EF 0%, #7579FF 100%);
    border-radius: 28px;
    width: 190px;
    height: 56px;
    color: #FFFFFF;
    margin-right: 15px;
}

.reject_button {
    background: linear-gradient(90deg, #ef2457 0%, #e7b529 100%);
    border-radius: 28px;
    width: 151px;
    height: 56px;
    color: #FFFFFF;
  }