.text_title {
    text-align: center;
    margin-bottom: 4px;
    margin-top: 60px;
    font-size: 30px;
    font-weight: 400;
}

.text_title_span {
    color: #B224EF;
}

.button_view_profile {
    background: linear-gradient(90deg, #B224EF 0%, #7579FF 100%);
    border-radius: 28px;
    width: 151px;
    height: 35px;
    color: #FFFFFF;
    margin-top: 10px;
}